@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-bg{
    background-image:url("/images/Frame 1278.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.logobtn{
    background:#8D8D8D;
}
.logocolor{
    color:#818080;
}
.signup{
    color:#1760BA;
}
.loginbg{
    background:#1760BA;
}
.textcolor{
    color:#484747;
}
.inputbg{
    background:#EEEEEE;
}
.buttonwidth{
    width:47%;
}
.belowbutton{
    width:75%;
}
.custom-list li::marker {
    color: #1760BA; /* Replace with your desired color */
    font-weight: bold; /* Make the bullets bolder */
    font-size: 2rem; /* Adjust the size if needed */
}
.services{
    background-image:url(../images/SERvices.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;
}
.servicewidth{
    width:30%;
}
.formwidth{
    width:49%;
}